<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Metadata Editor</title>
    <link rel="stylesheet" href="https://cdn.ons.gov.uk/sixteens/00c4260/css/main.css"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="wrapper">
    <div class="header height--9 col-wrap">
        <div class="col col--lg-one-third col--md-one-third">
            <img href="/">
            <img class="main-logo" src="https://www.ons.gov.uk/assets/img/ons-logo.svg"
                 alt="Office for National Statistics"/>
            </img>
        </div>
    </div>
</div>
<div class="background--astral">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                <h1>dp-dd-metadataForm-editor</h1>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="col-wrap">
        <div class="col">
            <h2>Metadata created.</h2>
            <a href="/metadata">Home</a>
        </div>
    </div>
</div>

</body>
</html>