<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Metadata Editor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{../../js/metadata-form.js}"></script>
    <link rel="stylesheet" href="https://cdn.ons.gov.uk/sixteens/00c4260/css/main.css"></link>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" type="text/css"/>
</head>
<body>

<div class="wrapper">
    <div class="header height--9 col-wrap">
        <div class="col col--lg-one-third col--md-one-third">
            <img href="/">
            <img class="main-logo" src="https://www.ons.gov.uk/assets/img/ons-logo.svg"
                 alt="Office for National Statistics"/>
            </img>
        </div>
    </div>
</div>
<div class="background--astral">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                <h1 th:text="#{page.title}"></h1>
            </div>
        </div>
    </div>
</div>

<div>
    <div id="changes-successful" class="success" th:if="${updateSuccessful != null}" th:text="#{changes.successful.message(${uuid})}"></div>
</div>

<div>
    <div id="error-banner" style="display: none;" class="error-response"></div>
</div>

<div class="wrapper">
    <div class="col-wrap">
        <div class="col">
            <form action="#" th:action="@{/}" th:object="${datasetMetadata}" method="post">

                <div class="field">
                    <div th:if="${#fields.hasErrors('datasetId')}" th:errors="*{datasetId}" class="validation-error"></div>
                    <label for="dataset-select" th:text="#{'dataset.id.field.label'}"></label>
                    <select th:field="*{datasetId}" id="dataset-select">
                        <option value="" text=" - "/>
                        <option th:each="id : ${dataSetList}" th:value="${id}" th:text="${id}"></option>
                    </select>
                </div>

                <div class="field">
                    <label for="major-version" th:text="#{'major.version.field.label'}"></label>
                    <input type="text" id="major-version" th:field="*{majorVersion}" />
                </div>

                <div class="field">
                    <label for="minor-version" th:text="#{'minor.version.field.label'}"></label>
                    <input type="text" id="minor-version" th:field="*{minorVersion}" />
                </div>

                <div class="field">
                    <label for="json-input" th:text="#{'json.metadata.field.label'}"></label>
                    <div id="ss-validation-error" th:if="${#fields.hasErrors('jsonMetadata')}" th:errors="*{jsonMetadata}" class="validation-error"></div>
                    <div id="js-json-validation-err" class="validation-error" th:value="#{'dataset.json.metadata.invalid'}" style="display: none;" th:text="#{'dataset.json.metadata.invalid'}"></div>
                    <textarea id="json-input" th:field="*{jsonMetadata}" rows="20" class="json-metadata-input"/>
                </div>

                <div class="field">
                    <label for="revision-reason" th:text="#{'revision.reason.field.label'}"></label>
                    <div id="revision-reason-err" th:if="${#fields.hasErrors('revisionReason')}" th:errors="*{revisionReason}" class="validation-error"></div>
                    <textarea id="revision-reason" th:field="*{revisionReason}" rows="10" class="revision-input"/>
                </div>

                <div class="field">
                    <label for="revision-notes" th:text="#{'revision.notes.field.label'}"></label>
                    <div id="revision-notes-err" th:if="${#fields.hasErrors('revisionNotes')}" th:errors="*{revisionNotes}" class="validation-error"></div>
                    <textarea id="revision-notes" th:field="*{revisionNotes}" rows="10" class="revision-input"/>
                </div>

                <div>
                    <input type="submit" th:value="#{'submit.label'}" class="submit-button"/>
                    <button type="button" th:text="#{'format.json.label'}" id="format-json-btn" class="submit-button"></button>
                    <button type="button" th:text="#{'reset.fields.label'}" id="reset-btn" class="submit-button"></button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>