<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Metadata Editor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{../../js/metadata-form.js}"></script>
    <link rel="stylesheet" href="https://cdn.ons.gov.uk/sixteens/00c4260/css/main.css"></link>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" type="text/css"/>
</head>
<body>

<div class="wrapper">
    <div class="header height--9 col-wrap">
        <div class="col col--lg-one-third col--md-one-third">
            <img href="/">
            <img class="main-logo" src="https://www.ons.gov.uk/assets/img/ons-logo.svg"
                 alt="Office for National Statistics"/>
            </img>
        </div>
    </div>
</div>
<div class="background--astral">
    <div class="wrapper">
        <div class="col-wrap">
            <div class="col">
                <h1>dp-dd-metadataForm-editor</h1>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="col-wrap">
        <div class="col">
            <form action="#" th:action="@{/metadata}" th:object="${metadataForm}" method="post">
<!--                    <div th:if="${#fields.hasErrors('*')}">
                        <div th:each="err : ${#fields.errors('*')}" name="json" th:text="#{${err}}" class="validation-error"></div>
                    </div>-->

                <div class="field">
                    <div th:if="${#fields.hasErrors('datasetId')}" th:errors="*{datasetId}" class="validation-error"></div>
                    <label for="dataset-select">DatasetID:</label>
                    <select th:field="*{datasetId}" id="dataset-select">
                        <option value="" text=" - "/>
                        <option th:each="id : ${dataSetList}" th:value="${id}" th:text="${id}"></option>
                    </select>
                </div>

                <div class="field">
                    <label for="json-input">JSON Metadata:</label>
                    <div th:if="${#fields.hasErrors('json')}" th:errors="*{json}" class="validation-error"></div>
                    <textarea id="json-input" th:field="*{json}" rows="30" class="json-metadata-input"/>
                </div>
                <p><input type="submit" value="Submit" class="submit-button"/></p>
            </form>
        </div>
    </div>
</div>

</body>
</html>